{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Liste{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
{% for rezept in rezepte %}
    <tr>
        <td>
            <a href="{{ url_for('rezept_details', rezept_id=rezept.rezept_id) }}">
                {{ rezept.bezeichnung }}
            </a>
        </td>
        <td>
            {% for tag in rezept.tags %}
                <span class="tag">{{ tag.tag }}</span>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
