body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.rezept-liste {
    display: flex;
    flex-flow: row wrap;
}

.rezept-element {
    flex: auto;
    width: 30em;
    min-width: 20em;
    max-width: 40em;
    padding: 3px;
    margin: 4px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.rezept-details {
    padding: 0.5em;
}

.rezept-details > h3 {
    text-align: center;
    text-decoration: underline;
}
